---
if (Astro.request.method === 'POST') {
    try {
        const data = await Astro.request.formData()
        const email = data.get('email')
        const phone = data.get('phone')

        if (!email && !phone) {
            throw new Error('Please provide either email or phone number.')
        }

        const response = await fetch(`https://tyovuorolista-site.vercel.app/api/handleForm`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, phone })
        });

        if (!response.ok) {
            throw new Error(response.statusText);
        }

        const jsonResponse = await response.json();

        console.log(jsonResponse);
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message)
        }
    }
}
---

<div class="wrapper">
    <div class="contactForm">
        <h2>Haluan kysyä lisää!</h2>
        <p>Jätä sähköpostisi tai puhelinnumerosi, niin olen sinuun yhteydessä pikaisesti!</p>
        <form id="contact-form" method="post">
            <div class="form">
                <div class="inputField">
                    <input type="email" name="email" id="email" placeholder="Sähköpostiosoitteesi" />
                </div>
                <span>tai</span>
                <div class="inputField">
                    <input type="tel" name="phone" id="phone" placeholder="Puhelinnumerosi" />
                </div>
                <button type="submit" id="submit-button" >Lähetä</button>
            </div>
        </form>
    </div>
</div>

<style>
    .contactForm {
        width: 100%;
        background-color: var(--hiekka);
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        padding: 1rem;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .inputField {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h2 {
        font-size: 3rem;
        margin-bottom: 0.5rem;
    }
    input {
        padding: 1rem;
        border-radius: 2px;
        border: none;
    }
    label {
        font-size: 0.8rem;
        color: var(--harmaa)
    }
    button {
        padding: 1.5rem;
        min-width: 150px;
        border-radius: 2px;
        border: none;
        color: white;
        background-color: var(--tummanvihrea);
        cursor: pointer;
    }
    button:hover {
        color: var(--vaaleanharmaa)
    }
    button:disabled {
        background-color: var(--harmaa);
        cursor: not-allowed;
    }
    button:active {
        transform: scale(0.95);
    }
</style>


