---
import tyovuorolista_demo from '../../assets/tyovuorolista_demo.mp4'
import Button from '../common/Button.astro'
import tyovuorolista_hero from '../../assets/tyovuorolista_hero.jpg'
---

<div class="wrapper" style="margin-top: 8rem;">
    <h2>Työvuorolistan teko voi olla myös helppoa</h2>
    <p>
        Työvuorot lisätään listaan raahamalla työntekijä oikealle kohdalle. Julkaisu tapahtuu nappia painamalla, jolloin
        kaikille työntekijöille lähetetään lista sähköpostilla ravintolan omasta sähköpostiosoitteesta.
    </p>
    <video autoplay="autoplay" loop="loop" muted="muted" preload="auto" width="100%" poster={tyovuorolista_hero}>
        <source src={tyovuorolista_demo} type="video/mp4" />
    </video>
    <div class="stepByStep">
        <div class="step">
            <span class="numberedBox">1</span><Button text="Rekisteröidy" backgroundColor="var(--hiekka)" href="" />
        </div>
        <div class="step">
            <span class="numberedBox">2</span>Tee työvuorolista
        </div>
        <div class="step">
            <span class="numberedBox">3</span>Julkaise
        </div>
    </div>
</div>

<style>
    h2 {
        font-size: 4rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
    p {
        font-size: 0.9rem;
        text-align: center;
    }
    .step {
        display: flex;
        align-items: baseline;
        gap: 1rem;
    }
    .numberedBox {
        border: 2px solid var(--ruskeaharmaa);
        border-radius: 5px;
        width: 2rem;
        height: 2rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
    .stepByStep {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    @media (max-width: 640px) {
        h2 {
            font-size: 2rem;
        }
        .stepByStep {
            flex-direction: column;
            gap: 0;
        }
    }
</style>

