---

---

<div class="wrapper">
    <h2>Usein kysytyt kysymykset</h2>
    <div class="faq">
        <div class="subFaq">
            <h3>Kuinka paljon tämä maksaa?</h3>
            <p>Hinnoittelu menee työntekijöiden määrän mukaan:<br>
            <li>maks. 3 työntekijää: 0 € / kk</li>
            <li>maks. 20 työntekijää: 12 € / kk</li>
            <li>maks. 50 työntekijää: 42 € / kk</li>
            <li>yli 50 työntekijää: 120 € / kk</li><br>
            Kaikkiin hintoihin lisätään alv 24%.
            </p>

            <h3>Voinko kokeilla maksamatta?</h3>
            <p>Tietysti! Alle neljän työntekijän pyörittäminen on aina ilmaista!</p>
            
            <h3>Kuinka pitkäksi aikaa pitää sitoutua?</h3>
            <p>Maksu hoidetaan kuukausi kerrallaan, ja voit koska tahansa lopettaa tilauksen. Ei mitään sitoutumisaikoja. Esimerkiksi kesäravintola voi maksaa käytöstä kesän ajan ja katkaista tilauksen talveksi.</p>
            
            <h3>Koska voin aloittaa?</h3>
            <p>Rekisteröintiin ja alkuasetuksiin menee noin 5 minuuttia. Voit julkaista ensimmäisen työvuorolistasi vaikkapa vartin kuluttua.</p>
            
            <h3>Kuka tämä on tehnyt?</h3>
            <p>Olen Antti Tuomola. Minulla on yli 15 vuoden kokemus ravintola-alalta työntekijänä, esimiehenä ja yrittäjänä. Olen työskennellyt lähiöbaareissa ja Michelin-ravintoloissa, pyörittänyt kartanoravintoloita ja ruokapyörää. Mitä tahansa olenkin tehnyt, olen aina tehnyt työvuorolistoja. Välillä excelillä, välillä tarkoitukseen tehdyillä softilla. Koskaan en ole ollut niihin täysin tyytyväinen. Siksi tämä.</p>

        </div>
        <div class="subFaq">
            <h3>Onko tätä vaikea käyttää?</h3>
            <p>Koko sovellus on rakennettu sillä ajatuksella, että työvuorolistan teko olisi mahdollisimman helppoa. Käyttöliittymä on graafinen, ja vuorojen lisääminen tehdään raahaamalla työntekijän nimi oikeaan kohtaan.</p>
            
            <h3>Miten listojen julkaisu tapahtuu?</h3>
            <p>Kun lista on valmis julkaistavaksi, painat vain Julkaise-nappia, jolloin kaikille listan työntekijöille (ja tarvittaessa muillekin) lähetetään sähköposti ravintolasi sähköpostiosoitteesta, jossa on paitsi työntekijän henkilökohtainen työvuorolista, myös koko salin / keittiön lista.</p>
            
            <h3>Miten tämä eroaa MaraPlanista / Planierista / HR suunnista / jne?</h3>
            <p>Työvuorolista eroaa muista alan toimijoista mm. näillä tavoilla:
                <li><strong>Hinnat ovat julkisesti näkyvillä:</strong> me emme pyri kynyttämään yritykseltäsi maksimaalista hintaa, vaan julkaisemme kaikki hinnat avoimesti.</li>
                <li><strong>Voit ottaa Työvuorolistan käyttöön nyt, viidessä minuutissa.</strong> Julkaista listan vartissa. Ei yhteydenottopyyntöjä, tarjouksia, demoja, vastatarjouksia ja muuta ajanhukkaa.</li>
                <li><strong>Työvuorolista on niin yksinkertainen, että et tarvitse sen käyttöön koulutusta</strong>. Jos haluat, voimme käydä sen käytön yhdessä läpi, mutta minä myös luotan siihen, että osaat käyttää tätä ilman kädestäpitoa.</li>
                <li>Vähemmän ominaisuuksia: me keskitymme vain työvuorolistan tekoon, julkaisuun ja tuntien kirjaukseen. <strong>Emme tarjoa työntekijöillesi kännykkäsovelluksia, joita he eivät halua</strong>. Voit hanskata työvuorojen raportoinnin parhaaksi katsomallasi tavalla.</li>

            </p>
        </div>
    </div>
</div>
    
<style>
    .faq {
        display: flex;
        gap: 3rem;
    }
    .subFaq {
        width: 50%;
        flex-grow: 1;
    }
    h2 {
        font-size: 3rem;
    }
    @media (max-width: 640px) {
        .faq {
            flex-direction: column;
        }
        .subFaq {
            width: 100%;
        }
    }
</style>