---
const allPosts = await Astro.glob('../../pages/posts/*.md')
const sortedPosts = allPosts.sort((a, b) => a.frontmatter.pubDate < b.frontmatter.pubDate ? 1 : -1)
const fourMostRecentPosts = sortedPosts.slice(0, 4)
import BlogPostCard from '../common/BlogPostCard.astro'
---

<div class="wrapper">
    <h1 style="text-align: center;">Uusimmat tekstit ravintolan työvuorosuunnittelusta</h1>
    <div class="blogPosts">
        {fourMostRecentPosts.map((post) => <BlogPostCard post={post} />)}
    </div>
    <a href="/blogitekstit"><h3>Katso kaikki tekstit</h3></a>
</div>

<style>
    .blogPosts {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
    h3 a {
        color: var(--color-primary);
    }
    
    a:visited {
        color: var(--color-primary);
    }
    @media (max-width: 640px) {
            h1 {
                font-size: 1.5rem;
            }
        }
</style>