---
import RegisterButton from '../common/RegisterButton.astro';
const currentYear = new Date().getFullYear();
---
<div class="footer">
    <RegisterButton />
    <h3>Työvuorolista | tyovuorolista.fi | {currentYear}</h3>
    <div class="footerLinks">
        <p><a href="./yhteystiedot">Yhteystiedot</a></p>
        <p><a href="./hinnoittelu">Hinnoittelut</a></p>
        <p><a href="./kayttoohjeet">Käyttöohjeet</a></p>
    </div>
</div>

<style>
    .footer {
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
        background-color: var(--vaaleanharmaa);
        margin-top: 5rem;
        padding-top: 1rem;
    }
    h3 {
        padding: 2rem;
    }
    .footerLinks {
        display: flex;
        gap: 1rem;
        justify-content: center; 
        margin-bottom: 2rem;
    }
    .footerLinks a {
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
    @media (max-width: 640px) {
        h3 {
            font-size: 1rem;
            padding: 1rem;
        }
    }
</style>