---
const currentYear = new Date().getFullYear();
---
<div class="footer">
    <h3>Työvuorolista, {currentYear}</h3>
</div>

<style>
    .footer {
        width: 100%;
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
        background-color: var(--vaaleanharmaa);
    }
</style>