---
import Contact from '../../components/mainPage/Contact.astro'
import ContactForm from '../../components/mainPage/ContactForm.astro'
import Layout from '../../layouts/Layout.astro'
import { getTranslationObject } from '../../utils/translations'

const locale = 'sv'
const contactFormTranslations = getTranslationObject('contactForm', locale)
const contactPage = getTranslationObject('pages.contact', locale)
---

<Layout>
    <main class="contact-page">
        <Contact locale={locale} contactPage={contactPage} />
        <ContactForm locale={locale} translations={contactFormTranslations} />
    </main>
</Layout>

<style>
    .contact-page {
        padding-bottom: var(--space-xl);
    }
</style>
