---
const allPosts = await Astro.glob('../pages/posts/*.md')
console.log('🚀 ~ file: blogitekstit.astro:3 ~ allPosts:', allPosts)
import BlogPostCard from '../components/common/BlogPostCard.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <div class="wrapper">
        <h1>Tekstejä ravintolan työvuorosuunnittelusta</h1>
        {allPosts.map((post) => <BlogPostCard post={post} />)}
    </div>
</Layout>
