---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/mainPage/Hero.astro'
import DemoVideo from '../components/mainPage/DemoVideo.astro'
import CustomerStory from '../components/mainPage/CustomerStory.astro'
import Register from '../components/mainPage/Register.astro'
import ContactForm from '../components/mainPage/ContactForm.jsx'
---

<Layout title="Welcome to Astro.">
    <main>
        <Hero />
        <DemoVideo />
        <CustomerStory />
        <Register />
        <ContactForm client:load />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 800px;
        display: flex;
        flex-direction: column;
    }
</style>