---
import Layout from '../layouts/Layout.astro'

---

<Layout>
	<div class="wrapper" style="width: 600px; margin: 0 auto">
	<h2>Käyttöehdot</h2>
	<p>1. Palvelun kuvaus</p>
	<p>Tyovuorolista.fi on verkkosovellus, joka mahdollistaa työvuorolistojen suunnittelun ja julkaisun. Sovellus on suunnattu pienille ja keskisuurille yrityksille.</p>
	
	<p>2. Rekisteröityminen</p>
	<p>Käyttäjän tulee rekisteröityä palveluun antamalla yrityksen nimi, sähköpostiosoite ja tarvittaessa puhelinnumero. Palvelun käyttö edellyttää myös työntekijöiden nimien ja sähköpostiosoitteiden lisäämistä.</p>
	
	<p>3. Käyttäjän vastuut</p>
	<p>Käyttäjä vastaa antamiensa sähköpostiosoitteiden oikeellisuudesta sekä tietojen oikeellisuuden varmistamisesta työvuorolistoissa. Käyttäjä sitoutuu olemaan lähettämättä sähköposteja tarpeettomasti.</p>
	
	<p>4. Vastuun rajoitus</p>
	<p>Emme ole vastuussa mistään vahingoista, jotka aiheutuvat virheellisistä tiedoista työvuorolistoissa.</p>
	
	<p>5. Sovellettava laki ja riitojen ratkaisu</p>
	<p>Mahdolliset riidat ratkaistaan Tampereen käräjäoikeudessa.</p>
	
	<h2>Tietosuojaseloste</h2>
	<p>1. Henkilötiedot</p>
	<p>Keräämme yrityksen nimen, käyttäjän sähköpostiosoitteen ja puhelinnumeron sekä työntekijöiden nimet ja sähköpostiosoitteet. Keräämme myös työvuorojen tiedot, kuten päivämäärät, ajat ja työntekijöiden nimet.</p>
	
	<p>2. Tietojen säilytys ja jakaminen</p>
	<p>Tietoja säilytetään Supabasen tietokannassa, joka on suojattu rivitason turvatoimilla. Maksutiedot käsittelee maksupalveluntarjoaja Stripe.</p>
	
	<p>3. Tietosuojaoikeudet</p>
	<p>Käyttäjällä on oikeus tarkastaa, muuttaa ja poistaa omia tietojaan palvelusta.</p>
	
	<h2>Hyvityskäytäntö</h2>
	<p>1. Tilauksen peruutus</p>
	<p>Tilauksen voi peruuttaa tai muuttaa milloin tahansa, ja muutos tulee voimaan nykyisen laskutuskauden lopussa.</p>
	
	<p>2. Rahat takaisin -takuu</p>
	<p>Tarjoamme 30 päivän täyden rahat takaisin -takuun ilman kysymyksiä.</p>
	
	<p>3. Muutokset käytäntöihin</p>
	<p>Ilmoitamme käytäntöjen muutoksista sähköpostitse.</p>
</div>
</Layout>