---
import Layout from '../layouts/Layout.astro'
import KayttoOhjeet from '../components/KayttoOhjeet.md'
---

<Layout>
    <div class="wrapper">
        <h1>Käyttöohjeet</h1>
        <div style={{ display: 'flex', flexDirection: 'column', maxWidth: '650px', margin: '2rem' }}>
            <KayttoOhjeet />
        </div>
    </div>
</Layout>
