---
import Button from './common/Button.astro'
---
<nav>
    
    <a href=""><Button text="Työvuorolista" /></a>
    <a href=""><Button text="Rekisteröidy" /></a>
    <a href=""><Button text="Kirjaudu" /></a>
    <a href=""><Button text="Hinnoittelu" /></a>
</nav>