---
const { text, backgroundColor, href, textColor } = Astro.props
---

<a href={href}>
    <div class="button">
        <span>{text || 'Paina tästä!'}</span>
    </div>
</a>

<style define:vars={{ backgroundColor, textColor }}>
    .button {
        display: inline-block;
        border: 1px solid var(--ruskeaharmaa);
        background-color: var(--backgroundColor);
        border-radius: 4px;
        padding: 1rem;
        transition: var(--hiekka) 0.3s ease;
        min-width: 100px;
        text-align: center;
    }
    .button:hover {
        border-color: var(--harmaa);
        filter: brightness(1.1);
        cursor: pointer;
    }
    .button:active {
        transform: scale(0.98);
    }
    span {
        color: var(--textColor, #333);
        font-size: 1.2em;
    }
</style>

