---

---

<a href='https://app.tyovuorolista.fi/CreateNewAccount' target="_blank">
    <div class="button">
        <span>Rekisteröidy</span>
    </div>
</a>

<style>
    .button {
        display: inline-block;
        border: 1px solid var(--ruskeaharmaa);
        background-color: var(--hiekka);
        border-radius: 4px;
        padding: 1rem;
        transition: var(--hiekka) 0.3s ease;
        min-width: 100px;
        text-align: center;
    }
    .button:hover {
        border-color: var(--harmaa);
        cursor: pointer;
    }
    .button:active {
        transform: scale(0.98);
    }
    span {
        color: var(--textColor, #333);
        font-size: 1.2em;
    }
</style>

