---
import Layout from '../layouts/Layout.astro'
const { frontmatter } = Astro.props
import Button from '../components/common/Button.astro'
import dayjs from 'dayjs'
---

<Layout>
    <div class="blogWrapper">
        {frontmatter.image && <img src={frontmatter.image.url} alt={frontmatter.image.alt} />}
        <h1>{frontmatter.title}</h1>
        <p class="metadata">Kirjoittanut {frontmatter.author}<br />
        Julkaistu {dayjs(frontmatter.pubDate).format('DD.MM.YYYY')}</p>
        <slot />
        <div style="margin: 4rem auto 2rem auto">
            <Button
                text="Kokeile Työvuorolistaa ilmaiseksi"
                backgroundColor="var(--tummanvihrea)"
                textColor="var(--vaaleanharmaa)"
                href="https://app.tyovuorolista.fi/CreateNewAccount"
            />
        </div>
    </div>
</Layout>

<style>
    .blogWrapper :global(h2) {
        margin-top: 4rem;
    }
    
    .blogWrapper :global(h2:first-of-type) {
        margin-top: 2rem;
    }
    
    .blogWrapper :global(h3) {
        margin-top: 2.5rem;
    }
    
    .metadata {
        font-size: 0.9rem;
        color: #666;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    
    .blogWrapper :global(img) {
        border: 2px solid var(--vaaleanharmaa);
        border-radius: 8px;
        margin: var(--space-xl) 0;
        padding: 1rem;
        max-width: 100%;
        height: auto;
        display: block;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    }
    
    .blogWrapper :global(img:first-child) {
        margin-top: var(--space-2xl);
    }
</style>